$lte7:false;
@import 'reset';
@import 'public';
@import 'grid';
@import 'buttons';
@import 'forms';
@import 'pagination';
@import 'steps';
@import 'navs';


.container {
    width: $pageWidth;
    margin: 0 auto;
    background-color: #fff;
}
.row {
    padding: $colMargin 0;
}
.row>[class^=col-] {
    height: 40px;
    line-height: 40px;
    background-color: #ffe5e5;
    text-align: center;
}
















