@import 'var';
@import 'mixin';

/* =14 range */

.slider-container {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    width: 300px;
    
    .back-bar {
    	position: relative;
        height: 4px;
        background-color: #d9d9d9;
        @include border-radius;
        
        .selected-bar {
            position: absolute;
            height: 100%;
            background-color: $c-primary;
        }
        
        .pointer {
            position: absolute;
            top: -8px;
            z-index: 2;
            width: 20px;
            height: 20px;
            background-color: $c-white;
            border: 2px solid $c-primary;
       	 	@include border-radius(20);
       	 	@include box-shadow(0 3px 6px rgba(217,217,217,1));
            cursor: col-resize;
            opacity: 1;
            
            &.pointer.last-active {
                z-index: 3;
            }
        }
        
        .pointer-label {
            position: absolute;
            top: -48px;
            display: inline-block;
            width: 36px;
            height: 36px;
            line-height: 34px;
            border: 1px solid $c-lighter;
            @include box-shadow(0 2px 4px rgba(217,217,217,.5));
            @include border-radius;
            text-align: center;
        }
        
        .focused {
            z-index: 10;
        }
    }
    
    .clickable-dummy {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    .scale {
        top: 5px;
        position: relative;
        
        span {
            position: absolute;
            height: 8px;
            border-left: 1px solid $c-light;
            font-size: 0;
        }
        
        ins {
            font-size: $fz-sm;
            text-decoration: none;
            position: absolute;
            left: 0;
            top: 10px;
            color: $c-light;
            line-height: 1;
        }
    }
    
    &.slider-readonly {
		.clickable-dummy ,
		.pointer {
			cursor: auto;
		}
	}
}