@import 'var';
@import 'mixin';

/* =8 share */
.share {
	height: 32px;
	line-height: 32px;
	
	> span,
	> a {
		display:inline-block;
		vertical-align: middle;
	}
	> a {
		position:relative;
		z-index: 6;
		width: 32px;
		height:32px;
	    border-radius: 50%;
		margin-right:10px;
		text-indent: -9999em;
		overflow: hidden;
		
		&:after,
		& i {
			position:absolute;
			display:block;
			content:" ";
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
		
		&:after {
			z-index: 8;
		    top: 16px;
		    left: 16px;
		    width: 0;
		    height: 0;
		    border-radius: 50%;
		    @include transition(all .32s cubic-bezier(.24,.82,.48,.89));
		}
		
		&:hover:after {
		    top: -9px;
		    left: -9px;
		    width: 50px;
		    height: 50px;
		}
		
		& i {
			z-index: 9;
			background: url(../images/spirit/share.png) no-repeat;
		}
		
		&.wx {
			background-color: $c-success;
			&:after {
				background-color: lighten($c-success, 10%);
			}
			& i {
				background-position: 0 0;
			}
		}
		&.qq {
			background-color: $c-info;
			&:after {
				background-color: lighten($c-info, 10%);
			}
			& i {
				background-position: 0 -32px;
			}
		}
		&.wb {
			background-color: $c-primary;
			&:after {
				background-color: lighten($c-primary, 10%);
			}
			& i {
				background-position: 0 -64px;
			}
		}
		&.qz {
			background-color: $c-warning;
			&:after {
				background-color: lighten($c-warning, 10%);
			}
			& i {
				background-position: 0 -96px;
			}
		}
	}
}