$lte7:false;
@import 'reset';
@import 'public';
@import 'grid';
@import 'buttons';
@import 'forms';
@import 'pagination';
@import 'steps';
@import 'navs';
@import 'tabs';
@import 'share';
@import 'feedback';
@import 'badges';
@import 'empty';
@import 'rating';
@import 'slick';
@import 'chosen';


.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
.row {
    padding: 10px 0;
}


.form-group-pwd {
	position: relative;
	display: inline-block;
	*display:inline;
	vertical-align: middle;
	
	> i {
		position: absolute;
		right: 5px;
		display: block;
		width: 20px;
		height: 14px;
		background-image: url(../images/spirit/eye.png);
		background-repeat: no-repeat;
		cursor: pointer;
		
		&.hide {
			background-position: 0 0;
		}
		
		&.show {
			background-position: 0 -14px;
		}
	}
	
	.form-control + i {
		top: 9px;
	}
	
	.form-control-sm + i {
		top: 6px;
	}
	
	.form-control-lg + i {
		top: 13px;
	}
}
























































