$lte7:false;
@import 'reset';
@import 'public';
@import 'grid';
@import 'buttons';
@import 'forms';
@import 'tables';
@import 'pagination';
@import 'steps';
@import 'navs';
@import 'tabs';
@import 'share';
@import 'feedback';
@import 'badges';
@import 'empty';
@import 'rating';
@import 'citySelect';
@import 'slick';
@import 'chosen';
@import 'range';
@import 'toast';
@import 'webuploader';
@import 'viewer';


.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
.row {
    padding: 10px 0;
}
.tabs-panel {
	height: 150px;
	background-color: #f8f8f8;
}
























































