$lte7:false;
@import 'reset';
@import 'public';
@import 'grid';
@import 'buttons';
@import 'forms';
@import 'tables';
@import 'pagination';
@import 'steps';
@import 'navs';
@import 'tabs';
@import 'share';
@import 'feedback';
@import 'badges';
@import 'empty';
@import 'rating';
@import 'citySelect';
@import 'slick';
@import 'chosen';
@import 'range';


.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
.row {
    padding: 10px 0;
}
.tabs-panel {
	height: 150px;
	background-color: #f8f8f8;
}

/* =6 tables */
table {
    width: 100%;
    border-collapse: collapse;
}

//»ù´¡
.tables {
    th,
    td {
        height: 48px;
        border-bottom: 1px solid $c-border;
        padding: 5px 10px;
        font-size: 14px;
        color: $c-darker;
        
        .choice {
            margin: 0;
        }
        
        .btn-link.dropdown-toggle {
            height: 22px;
            padding-left: 0;
            font-weight: 700;
            color: $c-darker;
            
            &:after {
                border-color: $c-darker transparent transparent;
            }
        }
        
        .dropdown-menu {
            border-color: $c-primary;
            @include box-shadow(0 0 6px rgba(225,51,26,.2));
            border-radius: 0;
            padding: 0;
            
            > li.active > a {
                background-color: $c-primary !important;
                color: $c-white !important;
            }
            
            > li.disabled > a {
                background-color: $c-white !important;
            }
            
            > li > a:hover {
                background-color: $c-hover;
            }
        }
        
    }
    
    th {
        background-color: $c-head;
        text-align: left;
        font-weight: 700;
        
        &.text-right {
            text-align: right;
        }
    }
    
    tr:nth-child(2n) td{
        background-color: $c-separate;
    }
    
    tr:hover td{
        background-color: $c-hover;
    }
    
    td {
        
        a {
            vertical-align: middle;
        }
    }
    
    &-line {
        margin: 0 5px;
        vertical-align: middle;
        font-size: $fz-sm;
        color: $c-line;
    }
}

//Ç¶Ì×¡¢ÕÛµþ
.tables-nest {
    tr:nth-child(2n) td{
        background-color: $c-white;
    }
    
    tr.has-inner {
        display: none;
        
        > td {
           border-bottom: 0;
           padding: 0 20px; 
        }
        
    }
    
    tr.open-inner {
        display: table-row;
        
        td {
           background-color: $c-head !important; 
        }
        
        tr:hover td{
            background-color: $c-hover !important;
        }
    }
    
    i.toggle-next {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../images/icon/tables_plus.png) no-repeat 0 0;
        cursor: pointer;
        
        &.open {
            background-image: url(../images/icon/tables_minus.png);
        }
    }
}


//´ø±ß¿ò
.tables-border {
    th,
    td {
        border: 1px solid $c-border;
    }
    
    .choice > .choice-name::before {
        margin-right: 0;
    }
}




































