$lte7:false;
@import 'reset';
@import 'public';
@import 'grid';
@import 'buttons';
@import 'forms';
@import 'pagination';
@import 'steps';
@import 'navs';
@import 'tabs';
@import 'share';
@import 'feedback';
@import 'badges';
@import 'empty';
@import 'rating';


.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
.row {
    padding: 10px 0;
}


























