@import 'var';
@import 'mixin';

/* =4 buttons */

//*****S button mixin *****//
// button var 按钮颜色控制
@mixin btn-var($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;
    
    &:hover {
        color: $color;
        background-color: lighten($background, 10%);
        border-color: lighten($border, 10%);
    }
    
    &:active,
    &.active {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 10%);
    }
    
    //次按钮、虚框按钮
    &.btn-second,
    &.btn-dashed  {
        background-color: $c-white;
        border-color: $c-lighten;
        color: $c-darken;
        
        &:hover {
            border-color: lighten($background, 10%);
            color: lighten($background, 10%);
        }
        
        &:active,
        &.active {
            border-color: darken($background, 10%);
            color: darken($background, 10%);
        }
    }
    
    //幽灵按钮、文字链接
    &.btn-inverse,
    &.btn-link {
        background-color: transparent;
        color: $background;
        
        &:hover {
            color: lighten($background, 10%);
        }
        
        &:active,
        &.active {
            color: darken($background, 10%);
        }
    }
    
    //幽灵按钮
    &.btn-inverse {
        border-color: $background;
        
        &.btn-second,
        &.btn-dashed,
        &.btn-link {
            border-color: $c-white;
            color: $c-white;
            
            &:hover {
                color: lighten($background, 10%);
            }
            
            &:active,
            &.active {
                color: darken($background, 10%);
            }
        }
        
        &:hover {
            border-color: lighten($background, 10%);
        }
        
        &:active,
        &.active {
            border-color: darken($background, 10%);
        }
    }
}
// button sizes 按钮尺寸控制
@mixin btn-size($height, $border-radius, $padding-horizontal, $font-size) {
    height: $height;
    border-radius: $border-radius;
    padding-right: $padding-horizontal;
    padding-left: $padding-horizontal;
    font-size:$font-size;
}
//*****E button mixin *****//



//*****S 样式生成 *****//
.btn {
    *overflow:visible;
    display: inline-block;
    border: 1px solid transparent;
    margin-bottom: 0; // For input.btn
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    @include btn-size($box-height, $box-bdrs, $box-px, $fz);
    @include user-select;
    @include touch-action;
    @include transition(all ease-in-out 0.2s);
    
    &:active,
    &.active {
        outline: 0;
    }
    
    //禁用
    &.disabled,
    &[disabled] {
        background-color: $c-bgc !important;
        border-color: $c-border !important;
        text-decoration: none !important;
        color: $c-disable !important;
        cursor: $cur-d;
        
    }
    
    //圆角按钮
    &.btn-fillet {
        border-radius: 20px;
    }

    //虚线框按钮
    &.btn-dashed {
        border-style: dashed;
    }
    
    //文字链接
    &.btn-link {
        background-color: transparent !important;
        border: 0;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

//按钮颜色
.btn-primary {
    @include btn-var($c-white,$c-primary,$c-primary);
}
.btn-info {
    @include btn-var($c-white,$c-info,$c-info);
}
.btn-success {
    @include btn-var($c-white,$c-success,$c-success);
}
.btn-warning {
    @include btn-var($c-white,$c-warning,$c-warning);
}
.btn-danger {
    @include btn-var($c-white,$c-danger,$c-danger);
}

//按钮尺寸
.btn-sm, .pagination-sm .btn {
    @include btn-size($box-height-sm, $box-bdrs-sm, $box-px-sm, $fz-sm);
}
.btn-lg, .pagination-lg .btn {
    @include btn-size($box-height-lg, $box-bdrs-lg, $box-px-lg, $fz-lg);
    
}
a.btn {
    line-height: ($box-height - 3);
}
a.btn-sm {
    line-height: ($box-height-sm - 2);
}
a.btn-lg {
    line-height: ($box-height-lg - 2);
}

//块级按钮
.btn-block {
    display: block;
    width: 100%;
}

//图标按钮
.btn {
    img,
    span {
        vertical-align: middle;
    }
        
    img + span {
        margin-left: 6px;
    }
    
    img {
        width: $fz;
        height: $fz;
    }
    &.btn-sm {
        img {
            width: $fz-sm;
            height: $fz-sm;
        }
    }
    &.btn-lg {
        img {
            width: $fz-lg;
            height: $fz-lg;
        }
    }
}
.btn-icon {
    width: $box-height;
    padding: 0;
    img {
        display: block;
        margin: 0 auto;
        width: 16px;
        height: 16px;
    }
    
    &.btn-sm {
        width: $box-height-sm;
        img {
            width: 14px;
            height: 14px;
        }
    }
    
    &.btn-lg {
        width: $box-height-lg;
        img {
            width: 24px;
            height: 24px;
        }
    }
}

//单按钮式下拉菜单
//向上三角形
@mixin trigon-up($color) {
    &.btn-second,
    &.btn-dashed,
    &.btn-inverse,
    &.btn-link {
        &:hover:after {
            border-bottom-color: lighten($color,10%);
        }
        
        &:active:after {
            border-bottom-color: darken($color,10%);
        }
    }
    
    &.btn-inverse,
    &.btn-link {
        &:after {
            border-bottom-color: $color;
        }
    }
}
//向下三角形
@mixin trigon-down($color) {
    &.btn-second,
    &.btn-dashed,
    &.btn-inverse,
    &.btn-link {
        &:hover:after {
            border-top-color: lighten($color,10%);
        }
        
        &:active:after {
            border-top-color: darken($color,10%);
        }
    }
    
    &.btn-inverse,
    &.btn-link {
        &:after {
            border-top-color: $color;
        }
    }
}
.dropdown-toggle[disabled]:after {
    border-color: $c-disable transparent transparent !important;
}
.dropup .dropdown-toggle:after {
    border-width: 0 4px 4px;
    border-color: transparent transparent $c-white;
}
.dropup .dropdown-toggle {
    &.btn-second,
    &.btn-dashed,
    &.btn-inverse,
    &.btn-link {
        &:after {
            border-bottom-color: $c-darken;
        }
    }
}
.dropup .dropdown-toggle.btn-primary {
    @include trigon-up($c-primary);
}
.dropup .dropdown-toggle.btn-info {
    @include trigon-up($c-info);
}
.dropup .dropdown-toggle.btn-success {
    @include trigon-up($c-success);
}
.dropup .dropdown-toggle.btn-warning {
    @include trigon-up($c-warning);
}
.dropup .dropdown-toggle.btn-danger {
    @include trigon-up($c-danger);
}
.dropdown-toggle:after {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 4px 4px 0;
    border-style: solid;
    border-color: $c-white transparent transparent;
    margin: 0 0 3px 2px;
}
.dropdown-toggle {
    &.btn-second,
    &.btn-dashed,
    &.btn-inverse,
    &.btn-link {
        &:after {
            border-top-color: $c-darken;
        }
    }
}
.dropdown-toggle.btn-primary {
    @include trigon-down($c-primary);
}
.dropdown-toggle.btn-info {
    @include trigon-down($c-info);
}
.dropdown-toggle.btn-success {
    @include trigon-down($c-success);
}
.dropdown-toggle.btn-warning {
    @include trigon-down($c-warning);
}
.dropdown-toggle.btn-danger {
    @include trigon-down($c-danger);
}
.btn-group.open .dropdown-menu {
    display: block;
}
.btn-group.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin: 0 0 4px;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 125px;
    max-height: 256px;
    padding: 5px 0;
    margin: 4px 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: $dropdown-zindex;
    background-color:$dropdown-bgc;
    border: 1px solid $dropdown-bdc;
    border-radius: $box-bdrs;
    @include box-shadow(0 0 6px rgba(128,128,128,.35));
    background-clip: padding-box;
    
    > li.line {
        height: 1px;
        margin: 8px 0;
        overflow: hidden;
        background-color: $c-line;
    }
    
    > li > a {
        display: block;
        height: $box-height;
        line-height: $box-height;
        padding: 0 20px;
        clear: both;
        white-space: nowrap;
        text-decoration: none;
        font-weight: normal;
        color: $c-darken;
    }
}
.dropdown-menu > li.active > a,
.dropdown-menu > li > a:hover {
    background-color: $dropdown-bgc-hover;
    text-decoration: none;
}
.dropdown-menu > .disabled > a {
    &,
    &:hover {
        color: $link-disabled-color;
    }
    &:hover {
        background-color: transparent;
        text-decoration: none;
        cursor: $cur-d;
    }
}
//分列式按钮下拉菜单
@mixin separate($color) {
    border-left-color: lighten($color, 10%);
    
    &.btn-inverse {
        border-left-color: $color;
    }
        
    &:hover {
        border-left-color: lighten($color, 10%);
    }
    
    &:active {
        border-left-color: darken($color, 10%);
    }
}
.btn-group > .btn + .dropdown-toggle {
    position: relative;
    border-top-right-radius: $box-bdrs !important;
    border-bottom-right-radius: $box-bdrs !important;
    padding-right: 8px;
    padding-left: 8px;
    
    &.btn-primary {
        @include separate($c-primary);
    }
    
    &.btn-info {
        @include separate($c-info);
    }
    
    &.btn-success {
        @include separate($c-success);
    }
    
    &.btn-warning {
        @include separate($c-warning);
    }
    
    &.btn-danger {
        @include separate($c-danger);
    }
    
    &.btn-second,
    &.btn-dashed {
        border-left-color: $c-lighten;
    }
}



//按钮组
.btn-group {
    position: relative;
    display: inline-block;
    *display:inline;
    vertical-align: middle;
    
    .btn + .btn {
        margin-left: -1px;
    }
    
    > .btn {
        position: relative;
        float: left;
        z-index: 2;
        
        &:hover {
            z-index: 3;
        }
    }
    
    > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    > .btn:last-child:not(:first-child):not(.dropdown-toggle) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    > .btn:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
}
.btn-group-sm > .btn { @extend .btn-sm; }
.btn-group-lg > .btn { @extend .btn-lg; }

//*****E 样式生成 *****//


