@import 'var';
@import 'mixin';

/* =15 rating */
//普通
.rating-item {
	height: 28px;
	padding: 5px 10px;
	
	&.even {
		background-color: $c-hover;
	}
}

.rating-name,
.rating-list,
.rating-info {
    display: inline-block;
    vertical-align: text-top;
}

.rating-name {
        width: 80px;
        text-align: right;
    }
    
.rating-list {
    width: 140px;
    @include clearfix;
    
    > a {
        float: left;
        display: block;
        width: 18px;
        height: 18px;
        background: url(../images/spirit/star.png) no-repeat -5px 0;
        margin: 0 5px;
        
        &.empty {
            width: 0;
            margin-right: 23px;
        }
        
        &.half {
            width: 9px;
            margin-right: 14px;
        }
        
        &:hover,
        &.hover,
        &.active {
            background-position: -5px -18px;
        }
    }
}

.rating-info {
    margin-left: 5px;
    color: $c-dark;
}


.rating-name,
.rating-info {
    line-height: 18px;
}

//仅展示
.rating-show  {
	.rating-list {
		background: url(../images/spirit/star.png) repeat 0 0;
		
		> a:hover {
				background-position: -5px 0;
		}
		
		> a.active:hover {
				background-position: -5px -18px;
		}
	}
}


//小号
.rating-item-sm {
    &.rating-show {
        .rating-list {
            background: url(../images/spirit/star_sm.png) repeat 0 0;
            margin-top: 3px;
            
            > a:hover {
                background-position: -2px 0;
            }
            
            > a.active:hover {
                background-position: -2px -12px;
            }
        
        }
    }
    .rating-list {
        width: 80px;
        
        > a {
            width: 12px;
            height: 12px;
            background: url(../images/spirit/star_sm.png) no-repeat -2px 0 !important;
            margin: 0 2px;
            
            &.empty {
                margin-right: 14px;
            }
            
            &.half {
                width: 6px;
                margin-right: 8px;
            }
            
            &:hover,
            &.hover,
            &.active {
                background-position: -2px -12px !important;
            }
        }
    }
}
