@import 'var';
@import 'mixin';

/* =19 toast */

.toast {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 997;
    background-color: transparent;
    display: table;
    
    &-gray {
        background: url(../images/toast/mask_bg.png);
        background-color: rgba(0,0,0,.2);
    }

    &-outer {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    &-inner {
        display: inline-block;
        min-width: 105px;
        background: url(../images/toast/toast_bg.png);
        background: rgba(56, 56, 56, .8);
        border-radius: 10px;
        padding: 20px;
        font-size: 15px;
        color: #fff;
        @include animation-duration(.2s);
        @include animation-name(ant-scale);
        
        i {
            display: inline-block;
            width: 36px;
            height: 36px;
            background-repeat: no-repeat;
            line-height: 1;
        }
    }
    &-text .toast-inner {
        width: auto;
        white-space: nowrap;
        padding: 10px 20px;
    }
    
    &-succeed i {
        background-image: url(../images/toast/succeed.png);
    }
    &-failure i {
        background-image: url(../images/toast/failure.png);
    }
    &-warning i {
        background-image: url(../images/toast/warning.png);
    }
    &-error i {
        background-image: url(../images/toast/error.png);
    }
    &-loading i {
        background-image: url(../images/toast/loading.png);
        @include animation(ant-roate360 1.5s step-end infinite);
    }
}