/* =4 buttons */
.btn { *overflow: visible; display: inline-block; border: 1px solid transparent; margin-bottom: 0; white-space: nowrap; vertical-align: middle; text-decoration: none; text-align: center; cursor: pointer; height: 32px; border-radius: 4px; padding-right: 14px; padding-left: 14px; font-size: 14px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: manipulation; touch-action: manipulation; }
.btn:hover { text-decoration: none; }
.btn:active, .btn.active { outline: 0; background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn.disabled, .btn[disabled] { cursor: not-allowed; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; }

.btn-default { color: #333; background-color: #fff; border-color: #ccc; }
.btn-default.btn-inverse, .btn-default.btn-dashed { background-color: #fff; color: #ccc; }
.btn-default.btn-inverse.disabled, .btn-default.btn-inverse[disabled], .btn-default.btn-dashed.disabled, .btn-default.btn-dashed[disabled] { background-color: #fff; }
.btn-default.btn-inverse.disabled:hover, .btn-default.btn-inverse[disabled]:hover, .btn-default.btn-dashed.disabled:hover, .btn-default.btn-dashed[disabled]:hover { background-color: #fff; }
.btn-default.btn-dashed { border-style: dashed; }
.btn-default:hover { color: #333; background-color: #e6e6e6; border-color: #b3b3b3; }
.btn-default:active, .btn-default.active { color: #333; background-color: #e6e6e6; border-color: #b3b3b3; }
.btn-default:active:hover, .btn-default.active:hover { color: #333; background-color: #d9d9d9; border-color: #a6a6a6; }
.btn-default.disabled, .btn-default[disabled] { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }
.btn-default.disabled:hover, .btn-default[disabled]:hover { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }

.btn-primary { color: #fff; background-color: #e1331a; border-color: #e1331a; }
.btn-primary.btn-inverse, .btn-primary.btn-dashed { background-color: #fff; color: #e1331a; }
.btn-primary.btn-inverse.disabled, .btn-primary.btn-inverse[disabled], .btn-primary.btn-dashed.disabled, .btn-primary.btn-dashed[disabled] { background-color: #fff; }
.btn-primary.btn-inverse.disabled:hover, .btn-primary.btn-inverse[disabled]:hover, .btn-primary.btn-dashed.disabled:hover, .btn-primary.btn-dashed[disabled]:hover { background-color: #fff; }
.btn-primary.btn-dashed { border-style: dashed; }
.btn-primary:hover { color: #fff; background-color: #b32915; border-color: #b32915; }
.btn-primary:active, .btn-primary.active { color: #fff; background-color: #b32915; border-color: #b32915; }
.btn-primary:active:hover, .btn-primary.active:hover { color: #fff; background-color: #9c2312; border-color: #9c2312; }
.btn-primary.disabled, .btn-primary[disabled] { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }
.btn-primary.disabled:hover, .btn-primary[disabled]:hover { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }

.btn-info { color: #fff; background-color: #1890ff; border-color: #1890ff; }
.btn-info.btn-inverse, .btn-info.btn-dashed { background-color: #fff; color: #1890ff; }
.btn-info.btn-inverse.disabled, .btn-info.btn-inverse[disabled], .btn-info.btn-dashed.disabled, .btn-info.btn-dashed[disabled] { background-color: #fff; }
.btn-info.btn-inverse.disabled:hover, .btn-info.btn-inverse[disabled]:hover, .btn-info.btn-dashed.disabled:hover, .btn-info.btn-dashed[disabled]:hover { background-color: #fff; }
.btn-info.btn-dashed { border-style: dashed; }
.btn-info:hover { color: #fff; background-color: #0076e4; border-color: #0076e4; }
.btn-info:active, .btn-info.active { color: #fff; background-color: #0076e4; border-color: #0076e4; }
.btn-info:active:hover, .btn-info.active:hover { color: #fff; background-color: #0069cb; border-color: #0069cb; }
.btn-info.disabled, .btn-info[disabled] { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }
.btn-info.disabled:hover, .btn-info[disabled]:hover { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }

.btn-success { color: #fff; background-color: #52c41a; border-color: #52c41a; }
.btn-success.btn-inverse, .btn-success.btn-dashed { background-color: #fff; color: #52c41a; }
.btn-success.btn-inverse.disabled, .btn-success.btn-inverse[disabled], .btn-success.btn-dashed.disabled, .btn-success.btn-dashed[disabled] { background-color: #fff; }
.btn-success.btn-inverse.disabled:hover, .btn-success.btn-inverse[disabled]:hover, .btn-success.btn-dashed.disabled:hover, .btn-success.btn-dashed[disabled]:hover { background-color: #fff; }
.btn-success.btn-dashed { border-style: dashed; }
.btn-success:hover { color: #fff; background-color: #3f9714; border-color: #3f9714; }
.btn-success:active, .btn-success.active { color: #fff; background-color: #3f9714; border-color: #3f9714; }
.btn-success:active:hover, .btn-success.active:hover { color: #fff; background-color: #368011; border-color: #368011; }
.btn-success.disabled, .btn-success[disabled] { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }
.btn-success.disabled:hover, .btn-success[disabled]:hover { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }

.btn-warning { color: #fff; background-color: #faad14; border-color: #faad14; }
.btn-warning.btn-inverse, .btn-warning.btn-dashed { background-color: #fff; color: #faad14; }
.btn-warning.btn-inverse.disabled, .btn-warning.btn-inverse[disabled], .btn-warning.btn-dashed.disabled, .btn-warning.btn-dashed[disabled] { background-color: #fff; }
.btn-warning.btn-inverse.disabled:hover, .btn-warning.btn-inverse[disabled]:hover, .btn-warning.btn-dashed.disabled:hover, .btn-warning.btn-dashed[disabled]:hover { background-color: #fff; }
.btn-warning.btn-dashed { border-style: dashed; }
.btn-warning:hover { color: #fff; background-color: #d69005; border-color: #d69005; }
.btn-warning:active, .btn-warning.active { color: #fff; background-color: #d69005; border-color: #d69005; }
.btn-warning:active:hover, .btn-warning.active:hover { color: #fff; background-color: #bd7f04; border-color: #bd7f04; }
.btn-warning.disabled, .btn-warning[disabled] { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }
.btn-warning.disabled:hover, .btn-warning[disabled]:hover { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }

.btn-danger { color: #fff; background-color: #f5222d; border-color: #f5222d; }
.btn-danger.btn-inverse, .btn-danger.btn-dashed { background-color: #fff; color: #f5222d; }
.btn-danger.btn-inverse.disabled, .btn-danger.btn-inverse[disabled], .btn-danger.btn-dashed.disabled, .btn-danger.btn-dashed[disabled] { background-color: #fff; }
.btn-danger.btn-inverse.disabled:hover, .btn-danger.btn-inverse[disabled]:hover, .btn-danger.btn-dashed.disabled:hover, .btn-danger.btn-dashed[disabled]:hover { background-color: #fff; }
.btn-danger.btn-dashed { border-style: dashed; }
.btn-danger:hover { color: #fff; background-color: #da0a15; border-color: #da0a15; }
.btn-danger:active, .btn-danger.active { color: #fff; background-color: #da0a15; border-color: #da0a15; }
.btn-danger:active:hover, .btn-danger.active:hover { color: #fff; background-color: #c20912; border-color: #c20912; }
.btn-danger.disabled, .btn-danger[disabled] { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }
.btn-danger.disabled:hover, .btn-danger[disabled]:hover { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }

.btn-link { color: #e1331a; font-weight: normal; border-radius: 0; }
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled] { background-color: transparent; -webkit-box-shadow: none; box-shadow: none; }
.btn-link, .btn-link:hover, .btn-link:active { border-color: transparent; }
.btn-link:hover { background-color: transparent; color: #e95945; }
.btn-link:active { background-color: transparent; color: #b32915; }
.btn-link[disabled]:hover { color: #bfbfbf; }

.btn-sm, .btn-group-sm > .btn, .pagination-sm .btn { height: 26px; border-radius: 4px; padding-right: 14px; padding-left: 14px; font-size: 12px; }

.btn-lg, .btn-group-lg > .btn, .pagination-lg .btn { height: 40px; border-radius: 4px; padding-right: 20px; padding-left: 20px; font-size: 16px; }

a.btn { line-height: 29px; }

a.btn-sm, .btn-group-sm > a.btn { line-height: 24px; }

a.btn-lg, .btn-group-lg > a.btn { line-height: 38px; }

.btn-block { display: block; width: 100%; }

.btn img, .btn span { vertical-align: middle; }
.btn img + span { margin-left: 5px; }

.dropdown-toggle[disabled]:after { border-color: #666 transparent transparent !important; }

.dropup .dropdown-toggle:after { border-width: 0 4px 4px; border-color: transparent transparent #fff; }

.dropup .btn-default.dropdown-toggle:after { border-color: transparent transparent #333; }

.dropup .btn-link.dropdown-toggle:after { border-color: transparent transparent #e1331a; }

.dropdown-toggle:after { content: " "; display: inline-block; width: 0; height: 0; border-width: 4px 4px 0; border-style: solid; border-color: #fff transparent transparent; margin: 0 0 3px 2px; }

.btn-default.dropdown-toggle:after { border-color: #333 transparent transparent; }

.btn-link.dropdown-toggle:after { border-color: #e1331a transparent transparent; }

.btn-group.open .dropdown-menu { display: block; }

.btn-group.dropup .dropdown-menu { top: auto; bottom: 100%; margin: 0 0 4px; }

.dropdown-menu { display: none; position: absolute; top: 100%; left: 0; min-width: 125px; max-height: 256px; padding: 5px 0; margin: 4px 0 0; overflow-x: hidden; overflow-y: auto; z-index: 3; background-color: #fff; border: 1px solid #eeeeee; border-radius: 4px; -webkit-box-shadow: 0 0 6px rgba(128, 128, 128, 0.35); box-shadow: 0 0 6px rgba(128, 128, 128, 0.35); background-clip: padding-box; }
.dropdown-menu > li.line { height: 1px; margin: 8px 0; overflow: hidden; background-color: #eeeeee; }
.dropdown-menu > li > a { display: block; height: 32px; line-height: 32px; padding: 0 20px; clear: both; white-space: nowrap; text-decoration: none; font-weight: normal; color: #333; }

.dropdown-menu > li.active > a, .dropdown-menu > li > a:hover { background-color: #f5f5f5; text-decoration: none; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover { color: #bfbfbf; }
.dropdown-menu > .disabled > a:hover { background-color: transparent; text-decoration: none; cursor: not-allowed; }

.btn-group > .btn + .dropdown-toggle { position: relative; border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important; padding-right: 8px; padding-left: 8px; }
.btn-group > .btn + .dropdown-toggle:before { position: absolute; top: -1px; bottom: -1px; left: -1px; display: block; content: ''; width: 1px; }
.btn-group > .btn + .dropdown-toggle[disabled]:before { background-color: #e5e5e5 !important; }
.btn-group > .btn + .dropdown-toggle.btn-primary:before { background-color: #e95945; }
.btn-group > .btn + .dropdown-toggle.btn-info:before { background-color: #4ba9ff; }
.btn-group > .btn + .dropdown-toggle.btn-success:before { background-color: #6ae32e; }
.btn-group > .btn + .dropdown-toggle.btn-warning:before { background-color: #fbbe46; }
.btn-group > .btn + .dropdown-toggle.btn-danger:before { background-color: #f7535b; }

.btn-group { position: relative; display: inline-block; *display: inline; vertical-align: middle; }
.btn-group .btn + .btn { margin-left: -1px; }
.btn-group > .btn { position: relative; float: left; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.btn-group > .btn:last-child:not(:first-child):not(.dropdown-toggle) { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.btn-group > .btn:not(:first-child):not(:last-child) { border-radius: 0; }

/*# sourceMappingURL=_buttons.css.map */
