@charset "UTF-8";
html { font-size: 14px; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

body, button, input, select, textarea { font: 14px/1.5 "Microsoft YaHei", "SimSun", Tahoma, Verdana, Arial; outline: none; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, var, optgroup { font-style: inherit; font-weight: inherit; }

del, ins { text-decoration: none; }

li { list-style: none; }

caption { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; font-variant: normal; }

sup { vertical-align: baseline; }

sub { vertical-align: baseline; }

a { outline: none; }

textarea { resize: none; }

input:focus, textarea:focus { outline: none; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }

textarea { resize: none; }

input:focus, textarea:focus { outline: none; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }

video::-webkit-media-controls-enclosur { overflow: hidden; }

video::-webkit-media-controls-panel { width: calc(100% + 30px); }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #999; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #999; }

input::-moz-placeholder, textarea::-moz-placeholder { color: #999; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999; }

::-moz-selection { background: #e1331a; color: #fff; }

::selection { background: #e1331a; color: #fff; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* =2 public */
strong, b, .b { font-weight: 700; }

button, submit, .button, .submit { cursor: pointer; }

.height-auto { height: auto !important; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { line-height: 1; margin-top: 5px; margin-bottom: 5px; }

h1, .h1 { font-size: 30px; }

h2, .h2 { font-size: 24px; }

h3, .h3 { font-size: 20px; }

h4, h5, .h4, .h5 { font-size: 16px; }

h6, .h6 { font-size: 14px; }

h4, h6, .h4, .h6 { font-weight: 700; }

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.clr { clear: both; }

.pull-left { float: left; }

.pull-right { float: right; }

.hide, .hidden { display: none; }

.show, .block { display: block; }

.overhide { overflow: hidden; }

.invisible { visibility: hidden; }

.absolute { position: absolute; }

.relative { position: relative; }

.fixed { position: fixed; }

.text-indent-em { text-indent: 2em; }

.text-indent-hide { text-indent: -9999px; }

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-justify { text-align: justify; }

.text-lowercase { text-transform: lowercase; }

.text-uppercase { text-transform: uppercase; }

.text-capitalize { text-transform: capitalize; }

.text-nowrap { white-space: nowrap; }

.text-break-all { word-wrap: break-word; word-break: break-all; }

.m-auto { margin-right: auto; margin-left: auto; }

.pt-5 { padding-top: 5px; }

.pr-5 { padding-right: 5px; }

.pb-5 { padding-bottom: 5px; }

.pl-5 { padding-left: 5px; }

.pa-5 { padding: 5px; }

.px-5 { padding-right: 5px; padding-left: 5px; }

.py-5 { padding-top: 5px; padding-bottom: 5px; }

.mt-5 { margin-top: 5px; }

.mr-5 { margin-right: 5px; }

.mb-5 { margin-bottom: 5px; }

.ml-5 { margin-left: 5px; }

.ma-5 { padding: 5px; }

.mx-5 { margin-right: 5px; margin-left: 5px; }

.my-5 { margin-top: 5px; margin-bottom: 5px; }

.pt-10 { padding-top: 10px; }

.pr-10 { padding-right: 10px; }

.pb-10 { padding-bottom: 10px; }

.pl-10 { padding-left: 10px; }

.pa-10 { padding: 10px; }

.px-10 { padding-right: 10px; padding-left: 10px; }

.py-10 { padding-top: 10px; padding-bottom: 10px; }

.mt-10 { margin-top: 10px; }

.mr-10 { margin-right: 10px; }

.mb-10 { margin-bottom: 10px; }

.ml-10 { margin-left: 10px; }

.ma-10 { padding: 10px; }

.mx-10 { margin-right: 10px; margin-left: 10px; }

.my-10 { margin-top: 10px; margin-bottom: 10px; }

.pt-15 { padding-top: 15px; }

.pr-15 { padding-right: 15px; }

.pb-15 { padding-bottom: 15px; }

.pl-15 { padding-left: 15px; }

.pa-15 { padding: 15px; }

.px-15 { padding-right: 15px; padding-left: 15px; }

.py-15 { padding-top: 15px; padding-bottom: 15px; }

.mt-15 { margin-top: 15px; }

.mr-15 { margin-right: 15px; }

.mb-15 { margin-bottom: 15px; }

.ml-15 { margin-left: 15px; }

.ma-15 { padding: 15px; }

.mx-15 { margin-right: 15px; margin-left: 15px; }

.my-15 { margin-top: 15px; margin-bottom: 15px; }

.pt-20 { padding-top: 20px; }

.pr-20 { padding-right: 20px; }

.pb-20 { padding-bottom: 20px; }

.pl-20 { padding-left: 20px; }

.pa-20 { padding: 20px; }

.px-20 { padding-right: 20px; padding-left: 20px; }

.py-20 { padding-top: 20px; padding-bottom: 20px; }

.mt-20 { margin-top: 20px; }

.mr-20 { margin-right: 20px; }

.mb-20 { margin-bottom: 20px; }

.ml-20 { margin-left: 20px; }

.ma-20 { padding: 20px; }

.mx-20 { margin-right: 20px; margin-left: 20px; }

.my-20 { margin-top: 20px; margin-bottom: 20px; }

.pt-30 { padding-top: 30px; }

.pr-30 { padding-right: 30px; }

.pb-30 { padding-bottom: 30px; }

.pl-30 { padding-left: 30px; }

.pa-30 { padding: 30px; }

.px-30 { padding-right: 30px; padding-left: 30px; }

.py-30 { padding-top: 30px; padding-bottom: 30px; }

.mt-30 { margin-top: 30px; }

.mr-30 { margin-right: 30px; }

.mb-30 { margin-bottom: 30px; }

.ml-30 { margin-left: 30px; }

.ma-30 { padding: 30px; }

.mx-30 { margin-right: 30px; margin-left: 30px; }

.my-30 { margin-top: 30px; margin-bottom: 30px; }

.pt-50 { padding-top: 50px; }

.pr-50 { padding-right: 50px; }

.pb-50 { padding-bottom: 50px; }

.pl-50 { padding-left: 50px; }

.pa-50 { padding: 50px; }

.px-50 { padding-right: 50px; padding-left: 50px; }

.py-50 { padding-top: 50px; padding-bottom: 50px; }

.mt-50 { margin-top: 50px; }

.mr-50 { margin-right: 50px; }

.mb-50 { margin-bottom: 50px; }

.ml-50 { margin-left: 50px; }

.ma-50 { padding: 50px; }

.mx-50 { margin-right: 50px; margin-left: 50px; }

.my-50 { margin-top: 50px; margin-bottom: 50px; }

/* =3 grid */
.row { *zoom: 1; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15 { float: left; margin-right: 10px; margin-left: 10px; }

.col-1 { width: 60px; }

.col-2 { width: 140px; }

.col-3 { width: 220px; }

.col-4 { width: 300px; }

.col-5 { width: 380px; }

.col-6 { width: 460px; }

.col-7 { width: 540px; }

.col-8 { width: 620px; }

.col-9 { width: 700px; }

.col-10 { width: 780px; }

.col-11 { width: 860px; }

.col-12 { width: 940px; }

.col-13 { width: 1020px; }

.col-14 { width: 1100px; }

.col-15 { width: 1180px; }

.col-offset-1 { margin-left: 90px; }

.col-offset-2 { margin-left: 170px; }

.col-offset-3 { margin-left: 250px; }

.col-offset-4 { margin-left: 330px; }

.col-offset-5 { margin-left: 410px; }

.col-offset-6 { margin-left: 490px; }

.col-offset-7 { margin-left: 570px; }

.col-offset-8 { margin-left: 650px; }

.col-offset-9 { margin-left: 730px; }

.col-offset-10 { margin-left: 810px; }

.col-offset-11 { margin-left: 890px; }

.col-offset-12 { margin-left: 970px; }

.col-offset-13 { margin-left: 1050px; }

.col-offset-14 { margin-left: 1130px; }

.col-offset-15 { margin-left: 100%; }

/* =4 buttons */
.btn { *overflow: visible; display: inline-block; border: 1px solid transparent; margin-bottom: 0; white-space: nowrap; vertical-align: middle; text-decoration: none; text-align: center; cursor: pointer; height: 32px; border-radius: 4px; padding-right: 14px; padding-left: 14px; font-size: 14px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: manipulation; touch-action: manipulation; }
.btn:hover { text-decoration: none; }
.btn:active, .btn.active { outline: 0; background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn.disabled, .btn[disabled] { cursor: not-allowed; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; }

.btn-default { color: #333; background-color: #fff; border-color: #ccc; }
.btn-default.btn-inverse, .btn-default.btn-dashed { background-color: #fff; color: #ccc; }
.btn-default.btn-inverse.disabled, .btn-default.btn-inverse[disabled], .btn-default.btn-dashed.disabled, .btn-default.btn-dashed[disabled] { background-color: #fff; }
.btn-default.btn-inverse.disabled:hover, .btn-default.btn-inverse[disabled]:hover, .btn-default.btn-dashed.disabled:hover, .btn-default.btn-dashed[disabled]:hover { background-color: #fff; }
.btn-default.btn-dashed { border-style: dashed; }
.btn-default:hover { color: #333; background-color: #e6e6e6; border-color: #b3b3b3; }
.btn-default:active, .btn-default.active { color: #333; background-color: #e6e6e6; border-color: #b3b3b3; }
.btn-default:active:hover, .btn-default.active:hover { color: #333; background-color: #d9d9d9; border-color: #a6a6a6; }
.btn-default.disabled, .btn-default[disabled] { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }
.btn-default.disabled:hover, .btn-default[disabled]:hover { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }

.btn-primary { color: #fff; background-color: #e1331a; border-color: #e1331a; }
.btn-primary.btn-inverse, .btn-primary.btn-dashed { background-color: #fff; color: #e1331a; }
.btn-primary.btn-inverse.disabled, .btn-primary.btn-inverse[disabled], .btn-primary.btn-dashed.disabled, .btn-primary.btn-dashed[disabled] { background-color: #fff; }
.btn-primary.btn-inverse.disabled:hover, .btn-primary.btn-inverse[disabled]:hover, .btn-primary.btn-dashed.disabled:hover, .btn-primary.btn-dashed[disabled]:hover { background-color: #fff; }
.btn-primary.btn-dashed { border-style: dashed; }
.btn-primary:hover { color: #fff; background-color: #b32915; border-color: #b32915; }
.btn-primary:active, .btn-primary.active { color: #fff; background-color: #b32915; border-color: #b32915; }
.btn-primary:active:hover, .btn-primary.active:hover { color: #fff; background-color: #9c2312; border-color: #9c2312; }
.btn-primary.disabled, .btn-primary[disabled] { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }
.btn-primary.disabled:hover, .btn-primary[disabled]:hover { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }

.btn-info { color: #fff; background-color: #1890ff; border-color: #1890ff; }
.btn-info.btn-inverse, .btn-info.btn-dashed { background-color: #fff; color: #1890ff; }
.btn-info.btn-inverse.disabled, .btn-info.btn-inverse[disabled], .btn-info.btn-dashed.disabled, .btn-info.btn-dashed[disabled] { background-color: #fff; }
.btn-info.btn-inverse.disabled:hover, .btn-info.btn-inverse[disabled]:hover, .btn-info.btn-dashed.disabled:hover, .btn-info.btn-dashed[disabled]:hover { background-color: #fff; }
.btn-info.btn-dashed { border-style: dashed; }
.btn-info:hover { color: #fff; background-color: #0076e4; border-color: #0076e4; }
.btn-info:active, .btn-info.active { color: #fff; background-color: #0076e4; border-color: #0076e4; }
.btn-info:active:hover, .btn-info.active:hover { color: #fff; background-color: #0069cb; border-color: #0069cb; }
.btn-info.disabled, .btn-info[disabled] { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }
.btn-info.disabled:hover, .btn-info[disabled]:hover { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }

.btn-success { color: #fff; background-color: #52c41a; border-color: #52c41a; }
.btn-success.btn-inverse, .btn-success.btn-dashed { background-color: #fff; color: #52c41a; }
.btn-success.btn-inverse.disabled, .btn-success.btn-inverse[disabled], .btn-success.btn-dashed.disabled, .btn-success.btn-dashed[disabled] { background-color: #fff; }
.btn-success.btn-inverse.disabled:hover, .btn-success.btn-inverse[disabled]:hover, .btn-success.btn-dashed.disabled:hover, .btn-success.btn-dashed[disabled]:hover { background-color: #fff; }
.btn-success.btn-dashed { border-style: dashed; }
.btn-success:hover { color: #fff; background-color: #3f9714; border-color: #3f9714; }
.btn-success:active, .btn-success.active { color: #fff; background-color: #3f9714; border-color: #3f9714; }
.btn-success:active:hover, .btn-success.active:hover { color: #fff; background-color: #368011; border-color: #368011; }
.btn-success.disabled, .btn-success[disabled] { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }
.btn-success.disabled:hover, .btn-success[disabled]:hover { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }

.btn-warning { color: #fff; background-color: #faad14; border-color: #faad14; }
.btn-warning.btn-inverse, .btn-warning.btn-dashed { background-color: #fff; color: #faad14; }
.btn-warning.btn-inverse.disabled, .btn-warning.btn-inverse[disabled], .btn-warning.btn-dashed.disabled, .btn-warning.btn-dashed[disabled] { background-color: #fff; }
.btn-warning.btn-inverse.disabled:hover, .btn-warning.btn-inverse[disabled]:hover, .btn-warning.btn-dashed.disabled:hover, .btn-warning.btn-dashed[disabled]:hover { background-color: #fff; }
.btn-warning.btn-dashed { border-style: dashed; }
.btn-warning:hover { color: #fff; background-color: #d69005; border-color: #d69005; }
.btn-warning:active, .btn-warning.active { color: #fff; background-color: #d69005; border-color: #d69005; }
.btn-warning:active:hover, .btn-warning.active:hover { color: #fff; background-color: #bd7f04; border-color: #bd7f04; }
.btn-warning.disabled, .btn-warning[disabled] { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }
.btn-warning.disabled:hover, .btn-warning[disabled]:hover { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }

.btn-danger { color: #fff; background-color: #f5222d; border-color: #f5222d; }
.btn-danger.btn-inverse, .btn-danger.btn-dashed { background-color: #fff; color: #f5222d; }
.btn-danger.btn-inverse.disabled, .btn-danger.btn-inverse[disabled], .btn-danger.btn-dashed.disabled, .btn-danger.btn-dashed[disabled] { background-color: #fff; }
.btn-danger.btn-inverse.disabled:hover, .btn-danger.btn-inverse[disabled]:hover, .btn-danger.btn-dashed.disabled:hover, .btn-danger.btn-dashed[disabled]:hover { background-color: #fff; }
.btn-danger.btn-dashed { border-style: dashed; }
.btn-danger:hover { color: #fff; background-color: #da0a15; border-color: #da0a15; }
.btn-danger:active, .btn-danger.active { color: #fff; background-color: #da0a15; border-color: #da0a15; }
.btn-danger:active:hover, .btn-danger.active:hover { color: #fff; background-color: #c20912; border-color: #c20912; }
.btn-danger.disabled, .btn-danger[disabled] { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }
.btn-danger.disabled:hover, .btn-danger[disabled]:hover { background-color: #bfbfbf; border-color: #bfbfbf; color: #666; }

.btn-link { color: #e1331a; font-weight: normal; border-radius: 0; }
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled] { background-color: transparent; -webkit-box-shadow: none; box-shadow: none; }
.btn-link, .btn-link:hover, .btn-link:active { border-color: transparent; }
.btn-link:hover { background-color: transparent; color: #e95945; }
.btn-link:active { background-color: transparent; color: #b32915; }
.btn-link[disabled]:hover { color: #bfbfbf; }

.btn-sm, .btn-group-sm > .btn, .pagination-sm .btn { height: 26px; border-radius: 4px; padding-right: 14px; padding-left: 14px; font-size: 12px; }

.btn-lg, .btn-group-lg > .btn, .pagination-lg .btn { height: 40px; border-radius: 4px; padding-right: 20px; padding-left: 20px; font-size: 16px; }

a.btn { line-height: 29px; }

a.btn-sm, .btn-group-sm > a.btn { line-height: 24px; }

a.btn-lg, .btn-group-lg > a.btn { line-height: 38px; }

.btn-block { display: block; width: 100%; }

.btn img, .btn span { vertical-align: middle; }
.btn img + span { margin-left: 5px; }

.dropdown-toggle[disabled]:after { border-color: #666 transparent transparent !important; }

.dropup .dropdown-toggle:after { border-width: 0 4px 4px; border-color: transparent transparent #fff; }

.dropup .btn-default.dropdown-toggle:after { border-color: transparent transparent #333; }

.dropup .btn-link.dropdown-toggle:after { border-color: transparent transparent #e1331a; }

.dropdown-toggle:after { content: " "; display: inline-block; width: 0; height: 0; border-width: 4px 4px 0; border-style: solid; border-color: #fff transparent transparent; margin: 0 0 3px 2px; }

.btn-default.dropdown-toggle:after { border-color: #333 transparent transparent; }

.btn-link.dropdown-toggle:after { border-color: #e1331a transparent transparent; }

.btn-group.open .dropdown-menu { display: block; }

.btn-group.dropup .dropdown-menu { top: auto; bottom: 100%; margin: 0 0 4px; }

.dropdown-menu { display: none; position: absolute; top: 100%; left: 0; min-width: 125px; max-height: 256px; padding: 5px 0; margin: 4px 0 0; overflow-x: hidden; overflow-y: auto; z-index: 3; background-color: #fff; border: 1px solid #eeeeee; border-radius: 4px; -webkit-box-shadow: 0 0 6px rgba(128, 128, 128, 0.35); box-shadow: 0 0 6px rgba(128, 128, 128, 0.35); background-clip: padding-box; }
.dropdown-menu > li.line { height: 1px; margin: 8px 0; overflow: hidden; background-color: #eeeeee; }
.dropdown-menu > li > a { display: block; height: 32px; line-height: 32px; padding: 0 20px; clear: both; white-space: nowrap; text-decoration: none; font-weight: normal; color: #333; }

.dropdown-menu > li.active > a, .dropdown-menu > li > a:hover { background-color: #f5f5f5; text-decoration: none; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover { color: #bfbfbf; }
.dropdown-menu > .disabled > a:hover { background-color: transparent; text-decoration: none; cursor: not-allowed; }

.btn-group > .btn + .dropdown-toggle { position: relative; border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important; padding-right: 8px; padding-left: 8px; }
.btn-group > .btn + .dropdown-toggle:before { position: absolute; top: -1px; bottom: -1px; left: -1px; display: block; content: ''; width: 1px; }
.btn-group > .btn + .dropdown-toggle[disabled]:before { background-color: #e5e5e5 !important; }
.btn-group > .btn + .dropdown-toggle.btn-primary:before { background-color: #e95945; }
.btn-group > .btn + .dropdown-toggle.btn-info:before { background-color: #4ba9ff; }
.btn-group > .btn + .dropdown-toggle.btn-success:before { background-color: #6ae32e; }
.btn-group > .btn + .dropdown-toggle.btn-warning:before { background-color: #fbbe46; }
.btn-group > .btn + .dropdown-toggle.btn-danger:before { background-color: #f7535b; }

.btn-group { position: relative; display: inline-block; *display: inline; vertical-align: middle; }
.btn-group .btn + .btn { margin-left: -1px; }
.btn-group > .btn { position: relative; float: left; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.btn-group > .btn:last-child:not(:first-child):not(.dropdown-toggle) { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.btn-group > .btn:not(:first-child):not(:last-child) { border-radius: 0; }

/* =5 forms */
label, .label { display: inline-block; max-width: 100%; margin-bottom: 5px; color: #333; }

label + .form-control, .label + .form-control { margin-left: 5px; }

select.form-control { padding-left: 5px !important; padding-right: 0 !important; }

textarea.form-control { padding-top: 5px; padding-bottom: 5px; }

.form-control { height: 32px; background-color: #fff; border: 1px solid #d9d9d9; border-radius: 4px; padding-right: 10px; padding-left: 10px; vertical-align: middle; color: #333; -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
.form-control:hover { border-color: #e63101; }
.form-control:focus { border-color: #e63101; -webkit-box-shadow: 0 0 6px rgba(228, 49, 3, 0.2); box-shadow: 0 0 6px rgba(228, 49, 3, 0.2); }
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background-color: #fafafa; border-color: #d9d9d9 !important; opacity: 1; }
.form-control[disabled], fieldset[disabled] .form-control { cursor: not-allowed; }
.form-control-warning { border-color: #faad14; }
.form-control-success { border-color: #52c41a; }
.form-control-danger { border-color: #f5222d; }

.form-control-sm, .pagination-sm .form-control, .form-number-sm .form-control, .input-group-sm .form-control { height: 26px; border-radius: 4px; font-size: 12px; }

.form-control-lg, .pagination-lg .form-control, .form-number-lg .form-control, .input-group-lg .form-control { height: 40px; border-radius: 4px; font-size: 16px; }

.form-group { display: inline-block; *display: inline; vertical-align: middle; }

.form-tips { display: inline-block; *display: inline; vertical-align: middle; background-repeat: no-repeat; background-position: 0 center; padding-left: 20px; }
.form-tips-warning { background-image: url(../images/icon/warning_16x16.png); color: #faad14; }
.form-tips-success { background-image: url(../images/icon/success_16x16.png); color: #52c41a; }
.form-tips-danger { background-image: url(../images/icon/danger_16x16.png); color: #f5222d; }

.choice { display: inline-block; margin: 5px 30px 5px 0; cursor: pointer; }
.choice > input { width: 16px; height: 16px; margin-bottom: -3px; *margin-bottom: 1px; }
.choice > input:nth-child(1) { display: none; }
.choice > input:checked ~ .choice-name::before { border: 1px solid #e1331a; background: #e1331a; }
.choice > input[type="radio"] ~ .choice-name::before { border-radius: 50%; background-clip: content-box; }
.choice > input[type="checkbox"] ~ .choice-name::before { border-radius: 2px; }
.choice > input[type="checkbox"]:checked ~ .choice-name::before { background: url(../images/icon/checked.png) no-repeat center center #e1331a; }
.choice > input[disabled] ~ .choice-name { cursor: not-allowed; color: #999; }
.choice > input[disabled] ~ .choice-name::before { border-color: #eee; }
.choice > input[type="radio"][disabled]:checked ~ .choice-name:before { background-color: #bfbfbf; }
.choice > input[type="checkbox"][disabled]:checked ~ .choice-name:before { background: url(../images/icon/checked_disable.png) no-repeat center center #fff; }
.choice > .choice-name { color: #333; }
.choice > .choice-name::before { float: left; display: inline-block; content: ""; width: 16px; height: 16px; border: 1px solid #dcdcdc; margin: 2px 10px 0 0; padding: 4px; }
.choice:hover > .choice-name::before { border: 1px solid #e1331a; }

.choice-advanced { display: inline-block; margin: 10px 20px 10px 0; cursor: pointer; }
.choice-advanced > input { width: 16px; height: 16px; margin-bottom: -3px; *margin-bottom: 1px; }
.choice-advanced > input:nth-child(1) { display: none; }
.choice-advanced > input ~ .choice-name { display: inline-block; border-radius: 2px; text-align: center; }
.choice-advanced > input[type="radio"] ~ .choice-name:nth-child(2) { min-width: 52px; height: 24px; line-height: 24px; padding: 0 6px; color: #333; }
.choice-advanced > input[type="checkbox"] ~ .choice-name:nth-child(2) { min-width: 70px; height: 32px; line-height: 30px; padding: 0 12px; border: 1px solid #dcdcdc; color: #666; }
.choice-advanced > input[type="radio"]:checked ~ .choice-name { background-color: #e1331a; color: #fff !important; }
.choice-advanced > input[type="checkbox"]:checked ~ .choice-name { background: url(../images/icon/checked_advanced.png) no-repeat right bottom; border-color: #e1331a; color: #e1331a; }
.choice-advanced > input[disabled] ~ .choice-name { border-color: #d9d9d9 !important; cursor: not-allowed; color: #999 !important; }
.choice-advanced > input[type="checkbox"][disabled]:checked ~ .choice-name { background: url(../images/icon/checked_advanced_disable.png) no-repeat right bottom; }
.choice-advanced:hover > input ~ .choice-name:nth-child(2) { color: #e1331a; }
.choice-advanced:hover > input[type="checkbox"] ~ .choice-name { border-color: #e1331a; }

.switch { display: inline-block; /*利用能力来进行选择的CSS Hack，最后一个子元素*/ }
.switch > input { /*IE7 IE8*/ width: 16px; height: 16px; margin-bottom: -3px; *margin-bottom: 1px; /*利用能力来进行选择的CSS Hack，第一个子元素*/ }
.switch > input:nth-child(1) { display: none; }
.switch > .switch-name:last-child { position: relative; display: inline-block; width: 44px; height: 22px; background-color: #bfbfbf; border-radius: 22px; cursor: pointer; text-indent: -9999em; }
.switch > .switch-name::before { position: absolute; top: 2px; left: 2px; display: block; width: 18px; height: 18px; content: ""; border-radius: 50%; background: #fff; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35); -webkit-transition: all 0.25s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }
.switch > .switch-name::after { position: absolute; top: 2px; right: 2px; display: block; width: 22px; height: 18px; line-height: 18px; content: ""; text-indent: 0; text-align: center; font-size: 12px; color: #fff; }
.switch > input:checked ~ .switch-name { background-color: #e1331a; }
.switch > input:checked ~ .switch-name::before { left: 24px; }
.switch > input:checked ~ .switch-name::after { left: 2px; content: ""; }
.switch > input[disabled] ~ .switch-name { opacity: 0.35; filter: alpha(opacity=35); cursor: not-allowed; }

.switch-txt > .switch-name::after { content: "关"; }
.switch-txt > input:checked ~ .switch-name::after { content: "开"; }

.switch-sm > .switch-name:last-child { width: 28px; height: 16px; }
.switch-sm > .switch-name::before { width: 12px; height: 12px; }
.switch-sm > .switch-name::after { width: 12px; height: 8px; line-height: 8px; }
.switch-sm > input:checked ~ .switch-name::before { left: 14px; }

.form-number { display: inline-block; *display: inline; vertical-align: middle; *zoom: 1; }
.form-number:before, .form-number:after { content: " "; display: table; }
.form-number:after { clear: both; }
.form-number > .form-control { float: left; width: 55px; border-top-right-radius: 0; border-bottom-right-radius: 0; }
.form-number > .form-control + a { border-top-right-radius: 4px; }
.form-number > .form-control + a + a { border-bottom-right-radius: 4px; }
.form-number > a { display: block; width: 23px; height: 17px; line-height: 12px; border: 1px solid #d9d9d9; border-left: 0; margin-left: 55px; text-decoration: none; text-align: center; color: #ccc; }
.form-number > a + a { height: 16px; margin-top: -1px; }
.form-number > a:hover { color: #e1331a; }
.form-number > a:active { background-color: #f5f5f5; color: #e1331a; }

.form-number-sm > a { height: 14px; line-height: 9px; }
.form-number-sm > a + a { height: 13px; }

.form-number-lg > a { height: 21px; line-height: 16px; }
.form-number-lg > a + a { height: 20px; }

.input-group { display: table; border-collapse: separate; }
.input-group > .form-control { display: table-cell; width: 100%; }
.input-group > .form-control:first-child { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.input-group > .form-control:last-child { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.input-group > .form-control:not(:first-child):not(:last-child) { border-radius: 0; }
.input-group > .input-group-addon:first-child { border-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; }
.input-group > .input-group-addon:last-child { border-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; }

.input-group-addon { display: table-cell; width: 1%; background-color: #f5f5f5; border: 1px solid #d9d9d9; border-radius: 4px; padding: 0 8px; white-space: nowrap; vertical-align: middle; color: #999; }
.input-group-addon > img { vertical-align: middle; }

/* =5 pagination */
.pagination { margin: 10px 0; }
.pagination .label { color: #666; }
.pagination .form-paging { width: 30px; padding: 0 2px; text-align: center; }

.pagination-list { display: inline-block; *display: inline; }
.pagination-list > li { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }
.pagination-list > li > a, .pagination-list > li > span { position: relative; float: left; display: inline-block; min-width: 32px; height: 32px; line-height: 30px; background: #fff; border: 1px solid #e0e0e0; border-radius: 2px; margin-right: 6px; padding: 0 5px; text-decoration: none; text-align: center; color: #999; }
.pagination-list > li > a:hover, .pagination-list > li > span:hover { border-color: #e1331a; color: #e1331a; }
.pagination-list > li.active > a, .pagination-list > li.active > span { background-color: #e1331a !important; border-color: #e1331a !important; color: #fff; }
.pagination-list > li.disabled > a, .pagination-list > li.disabled > span { border-color: #e0e0e0; color: #bfbfbf; cursor: not-allowed; }
.pagination-list > li.more > a, .pagination-list > li.more > span { border-width: 0 !important; color: #999 !important; }

.pagination-lg .label { font-size: 18px; }
.pagination-lg .form-paging { width: 45px; }
.pagination-lg .pagination-list > li > a, .pagination-lg .pagination-list > li > span { min-width: 46px; height: 40px; line-height: 38px; font-size: 18px; }

.pagination-sm .label { font-size: 12px; }
.pagination-sm .form-paging { width: 28px; }
.pagination-sm .pagination-list > li > a, .pagination-sm .pagination-list > li > span { min-width: 26px; height: 26px; line-height: 24px; font-size: 12px; }

.pagination-lite .pagination-list > li > a, .pagination-lite .pagination-list > li > span { background-color: transparent; border-color: transparent; margin-right: 0; }
.pagination-lite .pagination-list > li.line > span { min-width: auto; margin: 0; }
.pagination-lite .pagination-list > li.more > span { margin-right: -10px; }
.pagination-lite .form-paging { width: 50px; }
.pagination-lite.pagination-sm .form-paging { width: 40px; }
.pagination-lite.pagination-lg .form-paging { width: 60px; }

/* =5 steps */
/*基础*/
.steps li { position: relative; float: left; width: 20%; height: 20px; line-height: 20px; }
.steps li:before { position: absolute; top: 9px; right: 0; left: 0; z-index: 8; display: block; content: " "; height: 2px; background-color: #333; }
.steps li:first-child:before { display: none; }
.steps li span { position: absolute; top: 0; right: 0; z-index: 9; display: block; padding: 0 10px; background-color: #fff; color: #333; }
.steps li i { display: inline-block; width: 20px; height: 20px; line-height: 18px; border-radius: 50%; border: 1px solid #333; margin: 0 8px 0 0; text-align: center; font-style: inherit; }
.steps li.active:before { background-color: #e1331a; }
.steps li.active i, .steps li.active span { color: #e1331a; }
.steps li.active i { border-color: #e1331a; }

/*点状*/
.steps-dot { padding-top: 40px; }
.steps-dot li { line-height: 1; }
.steps-dot li span { top: -28px; right: -100px; width: 200px; height: 43px; background: none; padding: 0; text-align: center; font-size: 18px; }
.steps-dot li i { position: absolute; right: 95px; bottom: 0; z-index: 10; width: 10px; height: 10px; background-color: #333; margin-right: 0; text-indent: -9999em; }
.steps-dot li.active:before { background-color: #e1331a; }
.steps-dot li.active i { background-color: #e1331a; }

/*高级：基础+点状*/
.steps-advanced { padding-top: 40px; }
.steps-advanced li { line-height: 1; }
.steps-advanced li:before { height: 12px; background-color: #d9d9d9; border-top: 3px solid #d9d9d9; border-bottom: 3px solid #d9d9d9; }
.steps-advanced li span { top: -33px; right: -100px; width: 200px; height: 66px; background: none; padding: 0; text-align: center; font-size: 18px; color: #333 !important; }
.steps-advanced li i { position: absolute; right: 82px; bottom: 0; z-index: 10; display: block; width: 36px; height: 36px; line-height: 24px; background-color: #d9d9d9; border: 6px solid #d9d9d9 !important; margin-right: 0; color: #fff; }
.steps-advanced li.active:before { background-color: #e1331a; }
.steps-advanced li.active i { background: url(../images/icon/right_white_15x10.png) no-repeat center center #e1331a; text-indent: -9999em; }

/*三角形*/
.steps-arrow li { float: left; width: 20%; padding-right: 32px; }
.steps-arrow li a, .steps-arrow li span { display: block; background: #eeeeee; text-decoration: none; position: relative; height: 30px; line-height: 28px; padding: 0 10px 0 20px; color: #333; }
.steps-arrow li a:before, .steps-arrow li a:after, .steps-arrow li span:before, .steps-arrow li span:after { content: ""; position: absolute; top: 0; border: 0 solid #eeeeee; border-width: 15px 15px; width: 0; height: 0; }
.steps-arrow li a:before, .steps-arrow li span:before { left: -30px; border-left-color: transparent; }
.steps-arrow li a:after, .steps-arrow li span:after { left: 100%; border-color: transparent; border-left-color: #eeeeee; }
.steps-arrow li a i, .steps-arrow li span i { display: inline-block; float: left; width: 20px; height: 20px; line-height: 18px; border-radius: 50%; border: 1px solid #333; margin: 5px 8px 0 0; text-align: center; font-style: inherit; }
.steps-arrow li a:hover { background-color: #b32915; color: #fff; }
.steps-arrow li a:hover:before { border-color: #b32915; border-left-color: transparent; }
.steps-arrow li a:hover:after { border-left-color: #b32915; }
.steps-arrow li a:hover i { border-color: #fff; color: #fff; }
.steps-arrow li.active a, .steps-arrow li.active span { background-color: #e1331a; color: #fff; }
.steps-arrow li.active a:before, .steps-arrow li.active span:before { border-color: #e1331a; border-left-color: transparent; }
.steps-arrow li.active a:after, .steps-arrow li.active span:after { border-left-color: #e1331a; }
.steps-arrow li.active a i, .steps-arrow li.active span i { border-color: #fff; color: #fff; }
.steps-arrow li:first-child a:before, .steps-arrow li:first-child span:before { border: none; }

/*个数处理*/
.steps-2 li { width: 50%; }

.steps-3 li { width: 33.3%; }

.steps-4 li { width: 25%; }

.steps-5 li { width: 20%; }

/* =6 navs */
.breadcrumb li { float: left; display: inline-block; *margin-right: 6px; *padding-right: 6px; }
.breadcrumb li a { display: inline-block; text-decoration: none; color: #333; }
.breadcrumb li.home a:before { float: left; display: inline-block; content: ''; width: 16px; height: 16px; background: url(../images/spirit/breadcrumb_home.png) no-repeat 0 0; margin: 2px 6px 0 0; }
.breadcrumb li a.active, .breadcrumb li a:hover, .breadcrumb li span { color: #e1331a; }
.breadcrumb li.home a:hover:before { background-position: 0 -16px; }
.breadcrumb li:after { display: inline-block; content: '/'; margin: 0 10px; color: #666; }
.breadcrumb li:last-child:after { display: none; }

/* =7 tabs */
/*基础*/
.tabs { position: relative; border-bottom: 1px solid #d9d9d9; *zoom: 1; }
.tabs:before, .tabs:after { content: " "; display: table; }
.tabs:after { clear: both; }
.tabs .tab { position: relative; float: left; display: inline-block; }
.tabs .tab:after { position: absolute; top: 10px; right: 0; bottom: 20px; display: block; content: " "; width: 1px; background-color: #ebeceb; }
.tabs .tab:last-child:after { display: none; }
.tabs .tab a { position: relative; display: inline-block; height: 48px; padding: 10px 20px 20px; text-decoration: none; line-height: 1; font-size: 16px; color: #333; }
.tabs .tab a:hover { color: #e1331a; }
.tabs .tab.active a { color: #e1331a; }
.tabs .tab.active a:before { position: absolute; right: 0; bottom: -1px; left: 0; display: block; content: " "; height: 2px; background-color: #e1331a; }
.tabs .tab.disabled a { cursor: not-allowed; color: #bfbfbf; }
.tabs .tab i { display: inline-block; width: 16px; height: 16px; margin-right: 10px; vertical-align: middle; background-repeat: no-repeat; background-position: 0 0; }
.tabs .tab i.video { background-image: url(../images/spirit/tabs_video.png); }
.tabs .tab:hover i, .tabs .tab.active i { background-position: 0 -16px; }

/*卡片*/
.tabs-card .tab { margin-right: -1px; }
.tabs-card .tab:after { display: none; }
.tabs-card .tab a { bottom: -1px; height: 40px; line-height: 38px; background-color: #eeeeee; border: 1px solid #d9d9d9; padding: 0 20px; }
.tabs-card .tab.active a { background-color: #fff; border-bottom-color: #fff; }
.tabs-card .tab.active a:before { top: -1px; right: -1px; bottom: inherit; left: -1px; }

/*胶囊*/
.tabs-capsule { border-bottom: 0; }
.tabs-capsule .tab { margin-right: -1px; }
.tabs-capsule .tab:after { display: none; }
.tabs-capsule .tab a { height: 32px; line-height: 30px; background-color: #fff; border: 1px solid #d9d9d9; padding: 0 20px; }
.tabs-capsule .tab.active a { background-color: #e1331a; border-color: #e1331a; color: #fff; }
.tabs-capsule .tab.active a:before { display: none; }
.tabs-capsule .tab:first-child a { border-radius: 2px 0 0 2px; }
.tabs-capsule .tab:last-child a { border-radius: 0 2px 2px 0; }

/*竖状*/
.tabs-vertical { float: left; width: 140px; border-right: 2px solid #666; border-bottom: 0; padding: 12px 0; }
.tabs-vertical .tab { float: none; display: block; }
.tabs-vertical .tab:after { display: none; }
.tabs-vertical .tab a { display: block; height: 40px; line-height: 40px; padding: 0 20px 0 0; text-align: right; }
.tabs-vertical .tab.active a { background-color: #eeeeee; }
.tabs-vertical .tab.active a:before { top: 0; right: -2px; bottom: 0; left: inherit; width: 2px; height: 100%; }
.tabs-vertical ~ .tabs-panel { margin-left: 140px; }

.tabs-panel { display: none; }
.tabs-panel.active { display: block; }

/* =8 share */
.share { height: 32px; line-height: 32px; }
.share > span, .share > a { display: inline-block; vertical-align: middle; }
.share > a { position: relative; z-index: 6; width: 32px; height: 32px; border-radius: 50%; margin-right: 10px; text-indent: -9999em; overflow: hidden; }
.share > a:after, .share > a i { position: absolute; display: block; content: " "; top: 0; right: 0; width: 100%; height: 100%; }
.share > a:after { z-index: 8; top: 16px; left: 16px; width: 0; height: 0; border-radius: 50%; -webkit-transition: all 0.32s cubic-bezier(0.24, 0.82, 0.48, 0.89); -o-transition: all 0.32s cubic-bezier(0.24, 0.82, 0.48, 0.89); transition: all 0.32s cubic-bezier(0.24, 0.82, 0.48, 0.89); }
.share > a:hover:after { top: -9px; left: -9px; width: 50px; height: 50px; }
.share > a i { z-index: 9; background: url(../images/spirit/share.png) no-repeat; }
.share > a.wx { background-color: #52c41a; }
.share > a.wx:after { background-color: #6ae32e; }
.share > a.wx i { background-position: 0 0; }
.share > a.qq { background-color: #1890ff; }
.share > a.qq:after { background-color: #4ba9ff; }
.share > a.qq i { background-position: 0 -32px; }
.share > a.wb { background-color: #e1331a; }
.share > a.wb:after { background-color: #e95945; }
.share > a.wb i { background-position: 0 -64px; }
.share > a.qz { background-color: #faad14; }
.share > a.qz:after { background-color: #fbbe46; }
.share > a.qz i { background-position: 0 -96px; }

/* =9 feedback */
.feedback { position: fixed; right: 10px; bottom: 30px; z-index: 8; }
.feedback > a { position: relative; z-index: 7; display: block; width: 44px; height: 44px; background-color: #a3a0a0; margin-bottom: 5px; overflow: hidden; text-decoration: none; }
.feedback > a > i, .feedback > a > span, .feedback > a:after { position: absolute; display: block; }
.feedback > a > i, .feedback > a > span { z-index: 9; }
.feedback > a > i { top: 9px; right: 9px; width: 26px; height: 26px; background: url(../images/spirit/feedback.png) no-repeat 0 0; }
.feedback > a.code > i { background-position: 0 0; }
.feedback > a.service > i { background-position: 0 -26px; }
.feedback > a.help > i { background-position: 0 -52px; }
.feedback > a.top > i { background-position: 0 -78px; }
.feedback > a > span { top: 8px; right: 5px; bottom: 8px; left: 5px; display: none; line-height: 14px; text-align: center; font-size: 12px; color: #fff; }
.feedback > a:after { top: 22px; left: 22px; z-index: 8; content: " "; width: 0; height: 0; border-radius: 50%; -webkit-transition: all 0.32s cubic-bezier(0.24, 0.82, 0.48, 0.89); -o-transition: all 0.32s cubic-bezier(0.24, 0.82, 0.48, 0.89); transition: all 0.32s cubic-bezier(0.24, 0.82, 0.48, 0.89); }
.feedback > a:hover { *background-color: #e1331a; }
.feedback > a:hover > i { display: none; }
.feedback > a:hover > span { display: block; }
.feedback > a:hover:after { top: -8px; left: -8px; width: 60px; height: 60px; background-color: #e1331a; }
.feedback > .code-layer { position: absolute; top: 0; right: 60px; display: none; *width: 200px; background-color: #fff; border: 1px solid #d9d9d9; padding: 10px; white-space: nowrap; }
.feedback > .code-layer > p { display: inline-block; *float: left; width: 100px; text-align: center; }
.feedback > .code-layer > p > img { display: block; width: 80px; height: 80px; margin: 0 auto; }
.feedback > .code-layer:before, .feedback > .code-layer:after { position: absolute; display: block; content: " "; width: 0; height: 0; border-width: 12px 0 12px 12px; border-style: solid; }
.feedback > .code-layer:before { top: 12px; right: -12px; z-index: 7; border-color: transparent transparent transparent #d9d9d9; }
.feedback > .code-layer:after { top: 12px; right: -11px; z-index: 8; border-color: transparent transparent transparent #fff; }

/* =10 badge */
.badge { *overflow: visible; display: inline-block; border: 1px solid transparent; margin-bottom: 0; white-space: nowrap; vertical-align: middle; text-decoration: none; text-align: center; height: 24px; line-height: 22px; border-radius: 4px; padding-right: 6px; padding-left: 6px; font-size: 14px; }

.badge-primary { color: #fff; background-color: #e1331a; border-color: #e1331a; }

.badge-info { color: #fff; background-color: #1890ff; border-color: #1890ff; }

.badge-success { color: #fff; background-color: #52c41a; border-color: #52c41a; }

.badge-warning { color: #fff; background-color: #faad14; border-color: #faad14; }

.badge-default { color: #fff; background-color: #000; border-color: #000; opacity: 0.5; filter: alpha(opacity=50); }

.badge-sm { height: 20px; line-height: 18px; border-radius: 4px; padding-right: 6px; padding-left: 6px; font-size: 12px; }

.badge-lg { height: 30px; line-height: 28px; border-radius: 4px; padding-right: 10px; padding-left: 10px; font-size: 16px; }

.badge-inverse.badge-primary { color: #e1331a; background-color: #fff; border-color: #e1331a; }

.badge-inverse.badge-info { color: #1890ff; background-color: #fff; border-color: #1890ff; }

.badge-inverse.badge-success { color: #52c41a; background-color: #fff; border-color: #52c41a; }

.badge-inverse.badge-warning { color: #faad14; background-color: #fff; border-color: #faad14; }

.badge-inverse.badge-default { color: #666; background-color: #fff; border-color: #666; opacity: 1; filter: alpha(opacity=100); }

.badge-dot, .badge-count { position: relative; display: inline-block; line-height: 1; vertical-align: middle; }
.badge-dot > sup, .badge-count > sup { position: absolute; z-index: 10; }

.badge-dot > sup { top: -3px; right: -5px; height: 5px; width: 5px; border-radius: 100%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); -webkit-transform-origin: 0 center; -moz-transform-origin: 0 center; -ms-transform-origin: 0 center; transform-origin: 0 center; }

.badge-count > sup { top: -8px; right: -21px; width: 42px; text-align: center; }
.badge-count > sup > span { display: inline-block; border-radius: 100px; padding: 3px 6px; line-height: 1; color: #fff; }

.badge-dot sup.primary, .badge-count sup.primary span { background: #e1331a; }

.badge-dot sup.info, .badge-count sup.info span { background: #1890ff; }

.badge-dot sup.success, .badge-count sup.success span { background: #52c41a; }

.badge-dot sup.warning, .badge-count sup.warning span { background: #faad14; }

/* =11 empty */
.empty { text-align: center; }
.empty a { text-decoration: none; color: #e1331a; }
.empty a:hover { text-decoration: underline; }
.empty .empty-media { line-height: 1; }
.empty .empty-media > img { width: 150px; height: 150px; }
.empty .empty-media ~ div { margin-top: 15px; font-size: 16px; color: #333; }
.empty-xs .empty-media > img { width: 16px; height: 16px; }
.empty-sm .empty-media > img { width: 110px; height: 110px; }
.empty-lg .empty-media > img { width: 200px; height: 200px; }

.empty-horizontal { text-align: center; }
.empty-horizontal .empty { display: inline-block; text-align: left; *zoom: 1; }
.empty-horizontal .empty:before, .empty-horizontal .empty:after { content: " "; display: table; }
.empty-horizontal .empty:after { clear: both; }
.empty-horizontal .empty .empty-media { float: left; }
.empty-horizontal .empty .empty-media + .empty-header, .empty-horizontal .empty .empty-media + .empty-body { margin-top: 0; }
.empty-horizontal .empty .empty-media + .empty-header { line-height: 1; }
.empty-horizontal .empty .empty-media + .empty-body { margin-top: -4px; }
.empty-horizontal .empty .empty-media ~ div { margin-left: 180px; }
.empty-horizontal .empty-xs .empty-media ~ div { margin-left: 25px; font-size: 14px; }
.empty-horizontal .empty-sm .empty-media ~ div { margin-left: 140px; }
.empty-horizontal .empty-lg .empty-media ~ div { margin-left: 230px; }

/* =11 rating */
.rating-item { height: 28px; padding: 5px 10px; }
.rating-item.even { background-color: #fff1eb; }
.rating-item > span { display: inline-block; vertical-align: text-top; }
.rating-item .rating-name { width: 80px; text-align: right; }
.rating-item .rating-list { width: 140px; *zoom: 1; }
.rating-item .rating-list:before, .rating-item .rating-list:after { content: " "; display: table; }
.rating-item .rating-list:after { clear: both; }
.rating-item .rating-list > a { float: left; display: block; width: 18px; height: 18px; background: url(../images/spirit/star.png) no-repeat -5px 0; margin: 0 5px; }
.rating-item .rating-list > a:hover, .rating-item .rating-list > a.hover, .rating-item .rating-list > a.active { background-position: -5px -18px; }
.rating-item .rating-info { margin-left: 5px; color: #666; }

.rating-show .rating-list { background: url(../images/spirit/star.png) repeat 0 0; }
.rating-show .rating-list > a:hover { background-position: -5px 0; }
.rating-show .rating-list > a.active:hover { background-position: -5px -18px; }

/* =12 slick */
/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: #fff url(../../plugs/slick/ajax-loader.gif) center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; display: block; width: 40px; height: 80px; line-height: 0; font-size: 0; cursor: pointer; background: #aeaeae; top: 160px; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-next:hover { background: #8e8e8e; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { display: block; content: ""; width: 40px; height: 80px; }

.slick-prev { left: 10px; }
.slick-prev:before { background: url(../../plugs/slick/slick_prev.png) center center no-repeat; }

.slick-next { right: 10px; }
.slick-next:before { background: url(../../plugs/slick/slick_next.png) center center no-repeat; }

/* Dots */
.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: 35px; list-style: none; display: block; text-align: center; padding: 0px; width: 100%; }
.slick-dots li { position: relative; display: inline-block; margin: 0px 5px; cursor: pointer; }
.slick-dots li button { border: 0; background: #a7a7a7; display: block; width: 28px; height: 3px; outline: 0; line-height: 0; font-size: 0; color: transparent; cursor: pointer; }
.slick-dots li.slick-active button { background-color: #e1331a; }

.container { width: 1200px; margin: 0 auto; background-color: #fff; }

.row { padding: 10px 0; }

/*# sourceMappingURL=all.css.map */
