@charset "UTF-8";
/* =5 forms */
label, .label { display: inline-block; max-width: 100%; margin-bottom: 5px; color: #333; }

label + .form-control, .label + .form-control { margin-left: 5px; }

select.form-control { padding-left: 5px !important; padding-right: 0 !important; }

textarea.form-control { height: auto; padding-top: 5px; padding-bottom: 5px; }

.form-control { height: 32px; background-color: #fff; border: 1px solid #d9d9d9; border-radius: 4px; padding-right: 10px; padding-left: 10px; vertical-align: middle; color: #333; -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
.form-control:hover { border-color: #e63101; }
.form-control:focus { border-color: #e63101; -webkit-box-shadow: 0 0 6px rgba(228, 49, 3, 0.2); box-shadow: 0 0 6px rgba(228, 49, 3, 0.2); }
.form-control[disabled], fieldset[disabled] .form-control { background-color: #fafafa; border-color: #d9d9d9 !important; opacity: 1; }
.form-control[disabled], fieldset[disabled] .form-control { cursor: not-allowed; }
.form-control-warning { border-color: #faad14; }
.form-control-success { border-color: #52c41a; }
.form-control-danger { border-color: #f5222d; }

.form-control-sm, .pagination-sm .form-control, .input-group-sm .form-control { height: 26px; border-radius: 4px; font-size: 12px; }

.form-control-lg, .pagination-lg .form-control, .input-group-lg .form-control { height: 40px; border-radius: 4px; font-size: 16px; }

.form-control-toggle { background: url(../images/icon/toggle_down.png) no-repeat right 10px center; }

.form-group { display: inline-block; *display: inline; vertical-align: middle; }

.form-tips { display: inline-block; *display: inline; vertical-align: middle; background-repeat: no-repeat; background-position: 0 center; padding-left: 20px; }
.form-tips-warning { background-image: url(../images/icon/warning_16x16.png); color: #faad14; }
.form-tips-success { background-image: url(../images/icon/success_16x16.png); color: #52c41a; }
.form-tips-danger { background-image: url(../images/icon/danger_16x16.png); color: #f5222d; }

.choice { display: inline-block; margin: 5px 30px 5px 0; cursor: pointer; }
.choice > input { width: 16px; height: 16px; margin-bottom: -3px; *margin-bottom: 1px; }
.choice > input:nth-child(1) { display: none; }
.choice > input:checked ~ .choice-name::before { border: 1px solid #e1331a; background: #e1331a; }
.choice > input[type="radio"] ~ .choice-name::before { border-radius: 50%; background-clip: content-box; }
.choice > input[type="checkbox"] ~ .choice-name::before { border-radius: 2px; }
.choice > input[type="checkbox"]:checked ~ .choice-name::before { background: url(../images/icon/checked.png) no-repeat center center #e1331a; }
.choice > input[disabled] ~ .choice-name { cursor: not-allowed; color: #999; }
.choice > input[disabled] ~ .choice-name::before { border-color: #eee; }
.choice > input[type="radio"][disabled]:checked ~ .choice-name:before { background-color: #bfbfbf; }
.choice > input[type="checkbox"][disabled]:checked ~ .choice-name:before { background: url(../images/icon/checked_disable.png) no-repeat center center #fff; }
.choice > .choice-name { display: block; color: #333; }
.choice > .choice-name::before { float: left; display: inline-block; content: ""; width: 16px; height: 16px; background: #fff; border: 1px solid #d9d9d9; margin: 3px 10px 0 0; padding: 4px; }
.choice:hover > .choice-name::before { border: 1px solid #e1331a; }

.choice-advanced { display: inline-block; margin: 10px 20px 10px 0; cursor: pointer; }
.choice-advanced > input { width: 16px; height: 16px; margin-bottom: -3px; *margin-bottom: 1px; }
.choice-advanced > input:nth-child(1) { display: none; }
.choice-advanced > input ~ .choice-name { display: inline-block; border-radius: 2px; text-align: center; }
.choice-advanced > input[type="radio"] ~ .choice-name:nth-child(2) { min-width: 52px; height: 24px; line-height: 24px; padding: 0 6px; color: #333; }
.choice-advanced > input[type="checkbox"] ~ .choice-name:nth-child(2) { min-width: 70px; height: 32px; line-height: 30px; padding: 0 12px; border: 1px solid #d9d9d9; color: #666; }
.choice-advanced > input[type="radio"]:checked ~ .choice-name { background-color: #e1331a; color: #fff !important; }
.choice-advanced > input[type="checkbox"]:checked ~ .choice-name { background: url(../images/icon/checked_advanced.png) no-repeat right bottom; border-color: #e1331a; color: #e1331a; }
.choice-advanced > input[disabled] ~ .choice-name { border-color: #d9d9d9 !important; cursor: not-allowed; color: #999 !important; }
.choice-advanced > input[type="checkbox"][disabled]:checked ~ .choice-name { background: url(../images/icon/checked_advanced_disable.png) no-repeat right bottom; }
.choice-advanced:hover > input ~ .choice-name:nth-child(2) { color: #e1331a; }
.choice-advanced:hover > input[type="checkbox"] ~ .choice-name { border-color: #e1331a; }

.switch { display: inline-block; /*利用能力来进行选择的CSS Hack，最后一个子元素*/ }
.switch > input { /*IE7 IE8*/ width: 16px; height: 16px; margin-bottom: -3px; *margin-bottom: 1px; /*利用能力来进行选择的CSS Hack，第一个子元素*/ }
.switch > input:nth-child(1) { display: none; }
.switch > .switch-name:last-child { position: relative; display: inline-block; width: 44px; height: 22px; background-color: #bfbfbf; border-radius: 22px; cursor: pointer; text-indent: -9999em; }
.switch > .switch-name::before { position: absolute; top: 2px; left: 2px; display: block; width: 18px; height: 18px; content: ""; border-radius: 50%; background: #fff; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35); -webkit-transition: all 0.25s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }
.switch > .switch-name::after { position: absolute; top: 2px; right: 2px; display: block; width: 22px; height: 18px; line-height: 18px; content: ""; text-indent: 0; text-align: center; font-size: 12px; color: #fff; }
.switch > input:checked ~ .switch-name { background-color: #e1331a; }
.switch > input:checked ~ .switch-name::before { left: 24px; }
.switch > input:checked ~ .switch-name::after { left: 2px; content: ""; }
.switch > input[disabled] ~ .switch-name { opacity: 0.35; filter: alpha(opacity=35); cursor: not-allowed; }

.switch-txt > .switch-name::after { content: "关"; }
.switch-txt > input:checked ~ .switch-name::after { content: "开"; }

.switch-sm > .switch-name:last-child { width: 28px; height: 16px; }
.switch-sm > .switch-name::before { width: 12px; height: 12px; }
.switch-sm > .switch-name::after { width: 12px; height: 8px; line-height: 8px; }
.switch-sm > input:checked ~ .switch-name::before { left: 14px; }

.form-count { display: inline-block; *display: inline; vertical-align: middle; *zoom: 1; }
.form-count:before, .form-count:after { content: " "; display: table; }
.form-count:after { clear: both; }
.form-count .form-count-max { margin-left: 5px; color: #999; }
.form-count textarea + .form-count-max { display: block; margin: 0; }
.form-count .form-count-num.exceed { color: #e1331a; }

.form-number { display: inline-block; *display: inline; vertical-align: middle; *zoom: 1; }
.form-number:before, .form-number:after { content: " "; display: table; }
.form-number:after { clear: both; }
.form-number > .form-control { float: left; width: 55px; border-top-right-radius: 0; border-bottom-right-radius: 0; }
.form-number > .form-control + a { border-top-right-radius: 4px; }
.form-number > .form-control + a + a { border-bottom-right-radius: 4px; }
.form-number > .form-control-sm ~ a { height: 13px; line-height: 11px; }
.form-number > .form-control-sm ~ a + a { line-height: 12px; }
.form-number > .form-control-lg ~ a { height: 20px; line-height: 18px; }
.form-number > .form-control-lg ~ a + a { line-height: 19px; }
.form-number > a { display: block; width: 23px; height: 16px; line-height: 14px; border: 1px solid #d9d9d9; border-left: 0; margin-left: 55px; text-decoration: none; text-align: center; color: #ccc; }
.form-number > a + a { line-height: 15px; border-top: 0; }
.form-number > a:hover { color: #e1331a; }
.form-number > a:active { background-color: #f5f5f5; color: #e1331a; }

.input-group { display: table; border-collapse: separate; }
.input-group > .form-control { display: table-cell; width: 100%; }
.input-group > .form-control:first-child { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.input-group > .form-control:last-child { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.input-group > .form-control:not(:first-child):not(:last-child) { border-radius: 0; }
.input-group > .input-group-addon:first-child { border-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; }
.input-group > .input-group-addon:last-child { border-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; }

.input-group-addon { display: table-cell; width: 1%; background-color: #f5f5f5; border: 1px solid #d9d9d9; border-radius: 4px; padding: 0 8px; white-space: nowrap; vertical-align: middle; color: #999; }
.input-group-addon > img { vertical-align: middle; }

.form-group-pwd { position: relative; display: inline-block; *display: inline; vertical-align: middle; }
.form-group-pwd .form-control { padding-right: 35px; }
.form-group-pwd > i { position: absolute; right: 5px; display: block; width: 20px; height: 14px; background-image: url(../images/spirit/eye.png); background-repeat: no-repeat; cursor: pointer; }
.form-group-pwd > i.hide { background-position: 0 0; }
.form-group-pwd > i.show { background-position: 0 -14px; }
.form-group-pwd .form-control + i { top: 9px; }
.form-group-pwd .form-control-sm + i { top: 6px; }
.form-group-pwd .form-control-lg + i { top: 13px; }

.form-tags { display: inline-block; *display: inline; vertical-align: middle; min-height: 32px; background-color: #fff; border: 1px solid #d9d9d9; border-radius: 4px; padding: 5px 10px; line-height: 1; *zoom: 1; color: #333; }
.form-tags:before, .form-tags:after { content: " "; display: table; }
.form-tags:after { clear: both; }
.form-tags-input { display: inline-block; background-color: transparent; width: 20px; height: 24px; outline: 0; border: 0; margin: 2px 0 0 5px; vertical-align: top; }
.form-tags-list { display: inline; }
.form-tags-list li { position: relative; display: inline-block; *display: inline; height: 24px; line-height: 24px; background-color: #e1331a; border-radius: 2px; padding: 0 24px 0 5px; margin: 2px; white-space: nowrap; overflow: hidden; color: #fff; }
.form-tags-list li i { position: absolute; right: 0; top: 0; display: block; width: 20px; height: 24px; font-style: normal; text-align: center; cursor: pointer; }
.form-tags-list li i:hover { background-color: #ef8272; }

.text-zoom { position: absolute; z-index: 999999; top: 0; left: 0; display: none; height: 40px; line-height: 40px; background-color: #fefae1; border: 1px solid #ffa55c; border-radius: 4px; padding: 0 10px; margin: 5px 0; white-space: nowrap; font-size: 18px; color: #ff7200; -webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-name: ant-up; animation-name: ant-up; }

.mailAuto-list { position: absolute; z-index: 999999; top: 0; left: 0; display: none; background-color: #fff; border: 1px solid #d9d9d9; border-radius: 4px; margin: 5px 0; padding: 5px 0; font-size: 14px; -webkit-box-shadow: 0 0 6px rgba(128, 128, 128, 0.35); box-shadow: 0 0 6px rgba(128, 128, 128, 0.35); -webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-name: ant-up; animation-name: ant-up; }
.mailAuto-list p { height: 20px; line-height: 20px; padding: 0 10px; color: #ccc; }
.mailAuto-list li { height: 22px; line-height: 22px; padding: 0 10px; white-space: nowrap; cursor: pointer; }
.mailAuto-list li.active { background: #fff1eb; }

/*# sourceMappingURL=forms.css.map */
